
<%= javascript_include_tag "ac_activex"%>


<script type="text/javascript">                                                 
AC_RunFlashContent('width','562','height','205','quality','high','autoplay','true','loop','true','wmode','opaque','FlashVars','bcastr_xml_url=/images/slideshow5265062.xml&AutoPlayTime=5','codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab','pluginspage','http://www.macromedia.com/go/getflashplayer','src','/images/bcastr31.swf');
</script>                                                                       
<noscript>                                                                      
<object width=562 height=205 classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/   swflash.cab">
<param name="movie" value="/images/bcastr31.swf">                               
<param name="quality" value="high">                                             
<param name="loop" value="true">                                                
<param name="wmode" value="opaque">                                             
<param name="autoplay" value="true">                                            
<param name="FlashVars" value="bcastr_xml_url=/images/slideshow5265062.xml&AutoPlayTime=5">
<embed src="/images/bcastr31.swf" width=562 height=205 quality="high" TYPE="application/x-shockwave-flash" wmode="opaque" FlashVars="bcastr_xml_url=/  images/slideshow5265062.xml&AutoPlayTime=5" loop="true" autoplay="true" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</object>                                                                       
</noscript>                                                                     
<br/>
<br/>

<%(@contents || []).each do |content|%>
<div>
  <font color="#1D4A75" style="font-weight:bold;font-size:13px;"><%=content.title.upcase%></font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>

<%=render(:inline => print_news(content.content))%>
<br />
<%end%>
