<style>
body { 
  font-size: 12px;
}
</style>

<%= javascript_include_tag "ac_activex"%>


<div id="slideshow1" style="position:absolute; overflow:hidden; left:310px; top:250px; width:620px; height:241px; z-index:21">
<script type="text/javascript">                                                 
AC_RunFlashContent('width','620','height','241','quality','high','autoplay','true','loop','true','wmode','opaque','FlashVars','bcastr_xml_url=/images/slideshow2850000.xml&AutoPlayTime=5','codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab','pluginspage','http://www.macromedia.com/go/getflashplayer','src','/images/bcastr31.swf');
</script>                                                                       
<noscript>                                                                      
<object width=620 height=241 classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/   swflash.cab">
<param name="movie" value="/images/bcastr31.swf">                               
<param name="quality" value="high">                                             
<param name="loop" value="true">                                                
<param name="wmode" value="opaque">                                             
<param name="autoplay" value="true">                                            
<param name="FlashVars" value="bcastr_xml_url=/images/slideshow2850000.xml&AutoPlayTime=5">
<embed src="/images/bcastr31.swf" width=620 height=241 quality="high" TYPE="application/x-shockwave-flash" wmode="opaque" FlashVars="bcastr_xml_url=/  images/slideshow2850000.xml&AutoPlayTime=5" loop="true" autoplay="true" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</object>                                                                       
</noscript>                                                                     
</div>





<div>
  <font color="#1D4A75" face="Arial Narrow" class="ws9">Who isFEMCOM?</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>

<div align=justify style="line-height:1.50;"><font color="#000000"><p>Federation of National Associations of Women in Business in Eastern and Southern    Africa (FEMCOM) is a COMESA institution, established in July 1993 under Article 155 of the COMESA Treaty. FEMCOM has national chapters in all the 19   COMESA region countries namely: Burundi, Comoros, Democratic Republic of Congo (DRC), Djibouti, Egypt, ,Eritrea, Ethiopia, Kenya, Libya, Madagascar,   Malawi, Mauritius, Rwanda, Seychelles, Sudan, Swaziland, Uganda, Zambia and Zimbabwe</p></font></div>


<div>
  <font color="#1D4A75" face="Arial Narrow" class="ws9">What does FEMCOM do? </font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>



<div align=justify style="line-height:1.50;"><font color="#000000"><p>To be recognized worldwide as one of the most effective organisations promoting the interests of women entrepreneurs in Africa. FEMCOM has 6 Strategic Priorities in line with its 2009 &#45; 2014 Medium Term Strategic Plan:</p>
</font></div>

<div class="wpmd">                                                              


<div style="line-height:1.50;"><font color="#000000">1. Strengthening FEMCOM for Long-term Sustainability</font></div>
<div style="line-height:1.50;"><font color="#000000">2. Resource Mobilisation</font></div>
<div style="line-height:1.50;"><font color="#000000">3. Up-scaling capacity for women in business</font></div>

<div style="line-height:1.50;"><font color="#000000">4. Increase Trade &amp; Investment Facilitation</font></div>
<div style="line-height:1.50;"><font color="#000000">5. Enhancing Access to Credit and Capital for Women in Business</font></div>
<div style="line-height:1.50;"><font color="#000000">6. Forster Influential Policies to Empower Women in Business</font></div>
</div>
