
<%= javascript_include_tag "ac_activex"%>


<script type="text/javascript">                                                 
AC_RunFlashContent('width','570','height','241','quality','high','autoplay','true','loop','true','wmode','opaque','FlashVars','bcastr_xml_url=/images/slide_002.xml&AutoPlayTime=5','codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab','pluginspage','http://www.macromedia.com/go/getflashplayer','src','/images/bcastr31.swf');
</script>                                                                       
<noscript>                                                                      
<object width=580 height=241 classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/   swflash.cab">
<param name="movie" value="/images/bcastr31.swf">                               
<param name="quality" value="high">                                             
<param name="loop" value="true">                                                
<param name="wmode" value="opaque">                                             
<param name="autoplay" value="true">                                            
<param name="FlashVars" value="bcastr_xml_url=/images/slide_002.xml&AutoPlayTime=5">
<embed src="/images/bcastr31.swf" width=575 height=241 quality="high" TYPE="application/x-shockwave-flash" wmode="opaque" FlashVars="bcastr_xml_url=/  images/slide_002.xml&AutoPlayTime=5" loop="true" autoplay="true" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</object>                                                                       
</noscript>                                                                     
<br/>
<br/>
<div>
  <font color="#1D4A75" style="font-weight:bold;font-size:13px;">WHO IS FEMCOM?</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>

<p>Federation of National Associations of Women in Business in Eastern and Southern    Africa (FEMCOM) is a COMESA institution, established in July 1993 under Article 155 of the COMESA Treaty. FEMCOM has national chapters in all the 19   COMESA region countries namely: Burundi, Comoros, Democratic Republic of Congo (DRC), Djibouti, Egypt, ,Eritrea, Ethiopia, Kenya, Libya, Madagascar,   Malawi, Mauritius, Rwanda, Seychelles, Sudan, Swaziland, Uganda, Zambia and Zimbabwe</p>

<div>
  <font color="#1D4A75" style="font-weight:bold;font-size:13px;">WHAT DOES FEMCOM DO?</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>

<p>To be recognized worldwide as one of the most effective organisations promoting the interests of women entrepreneurs in Africa. FEMCOM has 6 Strategic Priorities in line with its 2009 &#45; 2014 Medium Term Strategic Plan:</p>

<div style="margin-left:20px;">                                                              
  <div>1. Strengthening FEMCOM for Long-term Sustainability</div>
  <div>2. Resource Mobilisation</div>
  <div>3. Up-scaling capacity for women in business</div>
  <div>4. Increase Trade &amp; Investment Facilitation</div>
  <div>5. Enhancing Access to Credit and Capital for Women in Business</div>
  <div>6. Forster Influential Policies to Empower Women in Business</div>
</div>
