<style>
  .objectives {
    list-style: disc outside none;
    padding-left: 20px;
  }
</style>

<div>
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">WHO WE ARE</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>

<p>Federation of National Associations of Women in Business in Eastern and Southern Africa (FEMCOM) is an institution of Common Market for Eastern and Southern Africa (COMESA). It was established in Zimbabwe in July 1993, with the endorsement of the Authority made up of Heads of States and Governments of the COMESA member countries.</p>

<p>FEMCOM has memberships in all the 19 COMESA member states, namely: Burundi, Comoros, Democratic Republic of Congo, Djibouti, Egypt, Eritrea Ethiopia, Kenya, Libya, Madagascar, Mauritius, Rwanda, Seychelles, Sudan, Swaziland, Uganda, Zambia, Zimbabwe and Malawi.</p>

<p>FEMCOM rests on a solid foundation of legal and institutional legitimacy; its mandate is embedded in the Treaty establishing COMESA, under article 155' Women in Business.</p>

<div>                                                                            
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">FEMCOM OBJECTIVES</font>       
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>

<p>FEMCOM's primary objective is to promote the activities of Women in business in COMESA and beyond. It plays a facilitative, coordinative, and catalytic role working with federations of women entrepreneurs' National FEMCOM Chapters in the COMESA Member States to create an enabling environment for women in business as well as acting as a forum for the exchange of ideas and experiences</p>

Its specific objectives are to:

<ul class="objectives">
<li>Serve as representative body and link between members and COMESA Secretariat, the COMESA Policy Organs and other regional and international organizations.</li>

<li>Represent the interests of members at all relevant forums (including at meetings of the COMESA technical committees) with primary objective of promoting their business interests.</li>

<li>Promote sub-regional, regional and international networking among women and enterprises owned by women to facilitate access to resources and increased support.</li>

<li>Act (in collaboration with COMESA Gender and Support Affairs Division) as a sub-regional facilitating body to identify and sensitize governments on the needs of members and also on strategies for achieving women's full integration into trade and development activities; and Encourage women from various business backgrounds to participate in programme activities of the federation through their national associations.</li>
</ul>

<br></br>

<div>                                                                            
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">FEMCOM MISSION</font>       
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>


<p>To develop Women in Business in COMESA and beyond through programmes that promote, encourage and serve the needs of women and their businesses working in smart collaboration with relevant partners at all levels</p>

<a href='/femcom/directors'>FEMCOM Board of Directors</a>

