<style type="text/css">

</style>

<div>
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">CONTACT US</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>


<p>

<div class="wpmd">                                                              
<div align=center><font color="#000000"><BR></font></div>                       
<div align=center><font color="#000000">ADDRESS</font></div>                    
<div align=center><font color="#000000">FEMCOM Secretariat,</font></div>        
<div align=center><font color="#000000"> Off Queens Drive,</font></div>         
<div align=center><font color="#000000"> Area 6, Plot No. 170,</font></div>     
<div align=center><font color="#000000"> P.O. Box 1499</font></div>             
<div align=center><font color="#000000">Lilongwe</font></div>                   
<div align=center><font color="#000000">Malwi</font></div>                      
<div align=center><font color="#000000"> </font></div>                          
<div align=center><font color="#000000"><BR></font></div>                       
<div align=center><font color="#000000">PHONE</font></div>                      
<div align=center><font color="#000000">+265 1 205 908</font></div>             
<div align=center><font color="#000000">+265 999 449 096</font></div>           
<div align=center><font color="#000000">http://www.femcomcomesa.org</font></div>
<div align=center><font color="#000000"><BR></font></div>                       
</div>

<br/>

<form name="form1" method="post" action="mailto:support@webpage-maker.com" enctype="text/plain" style="margin:0px">
Name:&nbsp;&nbsp;&nbsp;&nbsp;<input name="name" type="text" style="width:196px;left:613px;z-index:42"><br/>
Subject:&nbsp;<input name="subject" type="text" style="width:196px;left:613px;z-index:43"><br/>
<textarea name="message" style="width:277px;height:100px;z-index:44"></textarea><br/>
<input name="submit" type="submit" value="Send message" style="z-index:45">
</form>

</p>


