<style>
img.floatLeft { 
    float: left; 
    margin: 4px; 
}
</style>

<div>                                                                           
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">DIRECTORS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          
                                                                                

<%(@directors || []).each  do |director|%>
<br />
<%= image_tag("/images/directors/#{director.picture}" , :border => 0 , 
    :width => 204,  :height =>180, :valign => 'top' ,:class => 'floatLeft') %>

<div>                                                                           
  <font color="#1D4A75" style="font-size:12px;font-weight:bold;">
    <%=director.name%><br/>
    <%=director.title%>
  </font>
</div>
<p>
  <%=render(:inline => print_news(director.description || ''))%> 
</p>

<%end%>

