<style>
body { 
  font-size: 12px;
}
</style>

<div>
  <font color="#1D4A75" face="Arial Narrow" class="ws9">Directors</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>


<p><%= image_tag('gu1.png' , :border => 0 , :width => 204,  :height =>34) %>
Before his appointment, Mr. Ngwenya was the Assistant Secretary General of COMESA   in charge of Programmes a position he held for ten years. In this position, he was responsible for overseeing the development and implementation of    COMESA programmes. In addition, he oversaw and supervised the operations of COMESA established institutions such as the Leather and Leather Product    Institute (LLPI), the Clearing House and the Regional Investment Agency.</p>



