<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<meta name="generator" content="Web Page Maker">
<style type="text/css">
/*----------Text Styles----------*/
.ws6 {font-size: 8px;}
.ws7 {font-size: 9.3px;}
.ws8 {font-size: 11px;}
.ws9 {font-size: 12px;}
.ws10 {font-size: 13px;}
.ws11 {font-size: 15px;}
.ws12 {font-size: 16px;}
.ws14 {font-size: 19px;}
.ws16 {font-size: 21px;}
.ws18 {font-size: 24px;}
.ws20 {font-size: 27px;}
.ws22 {font-size: 29px;}
.ws24 {font-size: 32px;}
.ws26 {font-size: 35px;}
.ws28 {font-size: 37px;}
.ws36 {font-size: 48px;}
.ws48 {font-size: 64px;}
.ws72 {font-size: 96px;}
.wpmd {font-size: 13px;font-family: Arial,Helvetica,Sans-Serif;font-style: normal;font-weight: normal;}
/*----------Para Styles----------*/
DIV,UL,OL /* Left */
{
 margin-top: 0px;
 margin-bottom: 0px;
}
</style>

<style type="text/css">
a.style1:link{color:#FFFFFF;text-decoration: none;}
a.style1:visited{color:#FFFFFF;text-decoration: none;}
a.style1:hover{color:#C0C0C0;text-decoration: none;}
a.style1:active{color:#FFFFFF;text-decoration: none;}
</style>

<style type="text/css">
div#container
{
	position:relative;
	width: 1062px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align:left; 
}
body {text-align:center;margin:0}
</style>

</head>
<body background="/images/old.jpg" bgColor="#C0C0C0">
<div id="container">
<div id="image1" style="position:absolute; overflow:hidden; left:28px; top:48px; width:1006px; height:1717px; z-index:0; background-color:#FFFFFF"><img src="/images/white.jpg" alt="" title="" border=0 width=1006 height=1717></div>

<div id="g_image3" style="position:absolute; overflow:hidden; left:42px; top:62px; width:350px; height:102px; z-index:1"><img src="/images/logo.gif" alt="" title="" border=0 width=350 height=102></div>

<div id="g_image2" style="position:absolute; overflow:hidden; left:43px; top:180px; width:977px; height:33px; z-index:2"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=977 height=33></div>

<div id="g_text2" style="position:absolute; overflow:hidden; left:129px; top:188px; width:891px; height:22px; z-index:3">
<div class="wpmd">
<div><a href="/" title="" class="style1">Home</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/about_us"    title="" class="style1">About Us</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/services" title=""              class="style1">Services</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/national_chapters" title=""              class="style1">National Chapters</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/events" title="" class="style1">Events</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="" class="style1">Program</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/news" title=""     class="style1">News</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/gallery" title="" class="style1">Gallery</a><font                        color="#FFFFFF">&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/documents" title="" class="style1">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; </font><a href="/femcom/contact_us" title="" class="style1">Contact Us</a></div>
</div></div>

<div id="g_image1" style="position:absolute; overflow:hidden; left:811px; top:135px; width:210px; height:32px; z-index:4"><img src="/images/arc.gif" alt="" title="" border=0 width=210 height=32></div>

<div id="g_text1" style="position:absolute; overflow:hidden; left:832px; top:143px; width:176px; height:21px; z-index:5">
<div class="wpmd">
<div align=center><font class="ws9">FEMCOM Webmail</font></div>
</div></div>

<div id="image2" style="position:absolute; overflow:hidden; left:118px; top:338px; width:74px; height:61px; z-index:6"><img src="/images/ACTESA.png" alt="" title="" border=0 width=74 height=61></div>

<div id="image3" style="position:absolute; overflow:hidden; left:123px; top:265px; width:67px; height:60px; z-index:7"><img src="/images/comesa.png" alt="" title="" border=0 width=67 height=60></div>

<div id="image4" style="position:absolute; overflow:hidden; left:87px; top:487px; width:139px; height:56px; z-index:8"><img src="/images/KMH.png" alt="" title="" border=0 width=139 height=56></div>

<div id="image5" style="position:absolute; overflow:hidden; left:251px; top:248px; width:16px; height:294px; z-index:9"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=294></div>

<div id="image6" style="position:absolute; overflow:hidden; left:40px; top:247px; width:16px; height:295px; z-index:10"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=295></div>

<div id="hr1" style="position:absolute; overflow:hidden; left:191px; top:241px; width:69px; height:17px; z-index:11">
<hr size=2 width=69>
</div>

<div id="hr2" style="position:absolute; overflow:hidden; left:48px; top:240px; width:70px; height:17px; z-index:12">
<hr size=2 width=70>
</div>

<div id="hr3" style="position:absolute; overflow:hidden; left:47px; top:531px; width:212px; height:17px; z-index:13">
<hr size=2 width=212>
</div>

<form name="form1" method="post" action="mailto:support@webpage-maker.com" enctype="text/plain" style="margin:0px">
<input name="formtext1" type="text" style="position:absolute;width:150px;left:101px;top:904px;z-index:34">
<input name="formtext2" type="text" style="position:absolute;width:150px;left:101px;top:937px;z-index:35">
<input name="formbutton1" type="submit" value="Subscribe" style="position:absolute;left:163px;top:967px;z-index:36">
</form>

<div id="image7" style="position:absolute; overflow:hidden; left:96px; top:406px; width:124px; height:83px; z-index:15"><img src="/images/CAABWA-logo.gif" alt="" title="" border=0 width=124 height=83></div>

<div id="image8" style="position:absolute; overflow:hidden; left:59px; top:552px; width:66px; height:67px; z-index:16"><img src="/images/news.png" alt="" title="" border=0 width=66 height=67></div>

<div id="text1" style="position:absolute; overflow:hidden; left:58px; top:615px; width:196px; height:224px; z-index:17">
<div class="wpmd">
<%                                                                              
count = 0                                                                       
(latest_news || []).each do |post|%>                                            
<div style="line-height:1.50;"><font color="#000000" class="ws9">               
<%=count+=1%>.&nbsp;<a href="/news/post?id=<%=post.id%>"><%=post.title%></a></font></div>
<%end%>                                                                         
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
</div></div>  

<div id="hr4" style="position:absolute; overflow:hidden; left:231px; top:578px; width:29px; height:17px; z-index:18">
<hr size=2 width=29>
</div>

<div id="image9" style="position:absolute; overflow:hidden; left:251px; top:586px; width:16px; height:257px; z-index:19"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=257></div>

<div id="image10" style="position:absolute; overflow:hidden; left:42px; top:585px; width:16px; height:258px; z-index:20"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=258></div>

<div id="hr5" style="position:absolute; overflow:hidden; left:49px; top:578px; width:14px; height:17px; z-index:21">
<hr size=2 width=14>
</div>

<div id="image11" style="position:absolute; overflow:hidden; left:47px; top:236px; width:213px; height:20px; z-index:22"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=213 height=20></div>

<div id="text3" style="position:absolute; overflow:hidden; left:126px; top:238px; width:69px; height:21px; z-index:23">
<div class="wpmd">
<div><font color="#FFFFFF">Parteners</font></div>
</div></div>

<div id="image12" style="position:absolute; overflow:hidden; left:122px; top:574px; width:138px; height:20px; z-index:24"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=138 height=20></div>

<div id="text4" style="position:absolute; overflow:hidden; left:136px; top:576px; width:110px; height:22px; z-index:25">
<div class="wpmd">
<div><font color="#FFFFFF">Our Latest News</font></div>
</div></div>

<div id="hr6" style="position:absolute; overflow:hidden; left:49px; top:833px; width:210px; height:17px; z-index:26">
<hr size=2 width=210>
</div>

<div id="image13" style="position:absolute; overflow:hidden; left:82px; top:860px; width:38px; height:28px; z-index:27"><img src="/images/newsletter.png" alt="" title="" border=0 width=38 height=28></div>

<div id="text7" style="position:absolute; overflow:hidden; left:59px; top:907px; width:39px; height:51px; z-index:28">
<div class="wpmd">
<div><font color="#FFFFFF" face="Coda" class="ws8">Name</font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8">Email</font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
</div></div>

<div id="hr7" style="position:absolute; overflow:hidden; left:195px; top:873px; width:65px; height:17px; z-index:29">
<hr size=2 width=65>
</div>

<div id="hr8" style="position:absolute; overflow:hidden; left:48px; top:875px; width:33px; height:17px; z-index:30">
<hr size=2 width=33>
</div>

<div id="image14" style="position:absolute; overflow:hidden; left:41px; top:882px; width:16px; height:121px; z-index:31"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=121></div>

<div id="image15" style="position:absolute; overflow:hidden; left:252px; top:881px; width:16px; height:121px; z-index:32"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=121></div>

<div id="hr9" style="position:absolute; overflow:hidden; left:48px; top:994px; width:212px; height:17px; z-index:33">
<hr size=2 width=212>
</div>

<div id="text8" style="position:absolute; overflow:hidden; left:58px; top:907px; width:67px; height:54px; z-index:37">
<div class="wpmd">
<div>Name</div>
<div><BR></div>
<div>Email</div>
<div><BR></div>
<div><BR></div>
</div></div>

<div id="image16" style="position:absolute; overflow:hidden; left:122px; top:871px; width:138px; height:20px; z-index:38"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=138 height=20></div>

<div id="text9" style="position:absolute; overflow:hidden; left:156px; top:872px; width:112px; height:22px; z-index:39">
<div class="wpmd">
<div><font color="#FFFFFF">Newslatter</font></div>
</div></div>

<div id="image17" style="position:absolute; overflow:hidden; left:476px; top:228px; width:204px; height:34px; z-index:40"><img src="/images/gu1.png" alt="" title="" border=0 width=204 height=34></div>

<div id="text2" style="position:absolute; overflow:hidden; left:473px; top:271px; width:542px; height:107px; z-index:41">
<div class="wpmd">
<div align=justify style="line-height:auto;"><font color="#000000">Before his appointment, Mr. Ngwenya was the Assistant Secretary General of COMESA in charge of Programmes a position he held for ten years. In this position, he was responsible for overseeing the development and implementation of COMESA programmes. In addition, he oversaw and supervised the operations of COMESA established institutions such as the Leather and Leather Product Institute (LLPI), the Clearing House and the Regional Investment Agency.</font></div>
<div align=justify style="line-height:1.50;"><font color="#000000"><BR></font></div>
</div></div>

<div id="text5" style="position:absolute; overflow:hidden; left:474px; top:377px; width:546px; height:87px; z-index:42">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">In industry, Mr Ngwenya was involved in the design and implementation of programmes and projects in the road, airline and railway sectors. At the regional level, he was instrumental in the formulation of the PTA (now COMESA) regional integration programmes culminating in the launch of the COMESA Free Trade Area on 31st October 2000.</font></div>
</div></div>

<div id="image18" style="position:absolute; overflow:hidden; left:273px; top:254px; width:181px; height:200px; z-index:43"><img src="/images/Secretary_General.jpg" alt="" title="" border=0 width=181 height=200></div>

<div id="text6" style="position:absolute; overflow:hidden; left:272px; top:463px; width:748px; height:85px; z-index:44">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">He also worked on the establishment of COMESA specialised institutions, such as, the Eastern and Southern Africa Trade and Development Bank (PTA Bank), the COMESA Clearing House and the PTA Re-Insurance Company (ZEP-RE). More recently, he played a key role in the design of the COMESA Customs Union and Common Investment Area. He was also part of the team that crafted the COMESA Treaty and oversaw the transformation of the PTA into COMESA in 1994.</font></div>
</div></div>

<div id="text10" style="position:absolute; overflow:hidden; left:272px; top:549px; width:749px; height:85px; z-index:45">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">His personal mission is to contribute to sustainable social and economic development and uplifting the living standards of Africa&#39;s populace through regional co-operation and integration to transform and modernise economies of COMESA member states individually and collectively with the ultimate objective of realising the African Economic Community under the auspices of the African Union.</font></div>
</div></div>

<div id="image19" style="position:absolute; overflow:hidden; left:494px; top:634px; width:211px; height:46px; z-index:46"><img src="/images/gud2.png" alt="" title="" border=0 width=211 height=46></div>

<div id="text11" style="position:absolute; overflow:hidden; left:485px; top:677px; width:530px; height:123px; z-index:47">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">She is a Pediatric doctor by training from Cairo University. Realizing the importance of empowering women economically, she formed an organization targeting Economic Women Empowerment &amp; Young Women Entrepreneurship Promotion through which As a result she established the Egyptian Business women Association in 1995 with the objectives of promoting young generations of Women Entrepreneurs &amp; giving guidance to women business owners of Small &amp; Medium enterprises. </font></div>
</div></div>

<div id="text12" style="position:absolute; overflow:hidden; left:487px; top:804px; width:529px; height:84px; z-index:48">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">The organization also supports the mainstream of feminine gender in the Global Market. From her belief that financial independence gives the Power of Choice &amp; Voice, she directed her activities towards Economic Empowerment of Women , Capacity Building, Development of Human Resources &amp; to stress on equal opportunity for girls ,</font></div>
</div></div>

<div id="text13" style="position:absolute; overflow:hidden; left:274px; top:1132px; width:744px; height:123px; z-index:49">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">As a president of the Egyptian business women association Dr Asfour has been able to establish lot of partnerships with international and regional organizations including UN Women,UNDP,ILO,UNIDO ,African Union,European Union, Common Market for Eastern and Southern Africa (COMESA),Mediterranean chambers of Commerce .</font></div>
<div align=justify style="line-height:1.50;"><font color="#000000">Dr Asfour was also successful in implementing 2 big projects for establishing Hatchepsut Business Women Development Center for the economic empowerment of women Entrepreneurs and a regional program for support of Female entrepreneurs in Egypt, Sudan and Ethiopia.</font></div>
</div></div>

<div id="image20" style="position:absolute; overflow:hidden; left:275px; top:651px; width:200px; height:229px; z-index:50"><img src="/images/Board_Chair.jpg" alt="" title="" border=0 width=200 height=229></div>

<div id="text14" style="position:absolute; overflow:hidden; left:274px; top:891px; width:742px; height:146px; z-index:51">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000"> Youth and women for education &amp; training and promotion of Women and Youth in Science and Technology .and building partnerships with their colleagues In Africa, Asia, Europe and all over the world From her belief that Economic Empowerment of Women is a must for Economic Growth and for development She has been advocating for women Empowerment on the ,African , Arab and Mediterranean regions .She founded, Business and Professional Women Egypt and then established The African Alliance for Women Empowerment which has focal points all over Africa &amp; the main target is Women Empowerment and promoting economic integration among women and Youth Entrepreneurs in Africa and building partnerships across their colleagues in Asia, Europe and the whole world.</font></div>
</div></div>

<div id="text15" style="position:absolute; overflow:hidden; left:273px; top:1040px; width:742px; height:87px; z-index:52">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">Dr Asfour also initiated the Mediterranean Congress for Business and Professional Women as a platform for sharing experiences and good practices among women entrepreneurs in the Mediterranean Region and to have regional cooperation in the region As Dr Asfour is lobbying for women Empowerment on the African, Arab, and Mediterranean regions &amp; on an International Level, she was awarded many awards from Egypt, Africa, Arab world, Islamic world and from all over the world.</font></div>
</div></div>

<div id="image21" style="position:absolute; overflow:hidden; left:480px; top:1270px; width:194px; height:51px; z-index:53"><img src="/images/gud4.png" alt="" title="" border=0 width=194 height=51></div>

<div id="image22" style="position:absolute; overflow:hidden; left:272px; top:1280px; width:200px; height:236px; z-index:54"><img src="/images/CEO.jpg" alt="" title="" border=0 width=200 height=236></div>

<div id="text16" style="position:absolute; overflow:hidden; left:481px; top:1314px; width:536px; height:127px; z-index:55">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">Katherine is the CEO for FEMCOM. She is a strong Gender Activist, Political Economist and a Consultant in Micro Finance with strong leadership skills and excellent public relations. She holds a Bachelor of Arts Honours degree from Nairobi University, Kenya. In the corporate world, her experience spans a period of 10 years as a Bank Manager with National Bank of Kenya before pursuing her Master&#39;s degree in Public Administration from Harvard University. </font></div>
</div></div>

<div id="text17" style="position:absolute; overflow:hidden; left:480px; top:1440px; width:537px; height:84px; z-index:56">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">She has lectured at Tufts and New Hampshire Graduate schools where she taught women in Development and Micro Economic policies in Boston and New Hampshire respectively. She is a recipient of various awards including Mason Fellow Award from Harvard. She is a member of various international, regional and national associations.</font></div>
</div></div>

<div id="text18" style="position:absolute; overflow:hidden; left:271px; top:1527px; width:748px; height:102px; z-index:57">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">Katherine is one of the pioneers of creating COMESA gender policy. She also facilitated activities towards the establishment of a secretariat in Lilongwe, Malawi. FEMCOM Secretariat is committed to strengthening its national FEMCOM Chapters in 19 Member States in the COMESA region. It has conducted consultative forums, training workshops and advocacy activities within the Member States. Katherine also influenced the creation of the COMESA First Ladies roundtable which has been a resource for ideas and change.</font></div>
</div></div>

<div id="text19" style="position:absolute; overflow:hidden; left:272px; top:1632px; width:747px; height:83px; z-index:58">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000">She has negotiated for and acquired land from the Malawi Government to construct a state of the art regional FEMCOM complex in Lilongwe, Malawi for long term sustainability of FEMCOM activities in the region. She has a visionary and passionate concern to see that the FEMCOM complex is in place and that more women are involved in trade and development for the betterment of COMESA region</font></div>
</div></div>

<div id="hr10" style="position:absolute; overflow:hidden; left:272px; top:622px; width:751px; height:17px; z-index:59">
<hr size=2 width=751>
</div>

<div id="hr11" style="position:absolute; overflow:hidden; left:273px; top:1247px; width:751px; height:17px; z-index:60">
<hr size=2 width=751>
</div>

</div>

</body>
</html>
