<style>
img.floatLeft { 
    float: left; 
    margin: 4px; 
}
</style>

<div>                                                                           
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">DIRECTORS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          
                                                                                

<%= image_tag('Secretary_General.jpg' , :border => 0 , 
    :width => 204,  :height =>180, :valign => 'top' ,:class => 'floatLeft') %>

<div>                                                                           
  <font color="#1D4A75" style="font-size:12px;font-weight:bold;">
    Mr Sindiso Ndema Ngwenya<br/>
    Secretary General of COMESA
  </font>
</div>

<p>
Before his appointment, Mr. Ngwenya was the Assistant Secretary General of COMESA   in charge of Programmes a position he held for ten years. In this position, he was responsible for overseeing the development and implementation of    COMESA programmes. In addition, he oversaw and supervised the operations of COMESA established institutions such as the Leather and Leather Product    Institute (LLPI), the Clearing House and the Regional Investment Agency.</p>

<p>In industry, Mr Ngwenya was involved in the design and implementation of programmes and projects in the road, airline and railway sectors. At the regional level, he was instrumental in the formulation of the PTA (now COMESA) regional integration programmes culminating in the launch of the COMESA Free Trade Area on 31st October 2000.</p>


<p>He also worked on the establishment of COMESA specialised institutions, such as, the Eastern and Southern Africa Trade and Development Bank (PTA Bank), the COMESA Clearing House and the PTA Re-Insurance Company (ZEP-RE). More recently, he played a key role in the design of the COMESA Customs Union and Common Investment Area. He was also part of the team that crafted the COMESA Treaty and oversaw the transformation of the PTA into COMESA in 1994.</p>

<p>His personal mission is to contribute to sustainable social and economic development and uplifting the living standards of Africa’s populace through regional co-operation and integration to transform and modernise economies of COMESA member states individually and collectively with the ultimate objective of realising the African Economic Community under the auspices of the African Union.</p>

<%= image_tag('Board_Chair.jpg' , :border => 0 , 
    :width => 204,  :height =>180, :valign => 'top' ,:class => 'floatLeft') %>
<div>                                                                           
  <font color="#1D4A75" style="font-size:12px;font-weight:bold;">
    Dr. Amany Asfour<br/>
    Chairperson of FEMCOM Board
  </font>
</div>

<p>
She is a Pediatric doctor by training from Cairo University. Realizing the importance of empowering women economically, she formed an organization targeting Economic Women Empowerment & Young Women Entrepreneurship Promotion through which As a result she established the Egyptian Business women Association in 1995 with the objectives of promoting young generations of Women Entrepreneurs & giving guidance to women business owners of Small & Medium enterprises. </p>

<p>The organization also supports the mainstream of feminine gender in the Global Market. From her belief that financial independence gives the Power of Choice & Voice, she directed her activities towards Economic Empowerment of Women , Capacity Building, Development of Human Resources & to stress on equal opportunity for girls ,Youth and women for education & training and promotion of Women and Youth in Science and Technology .and building partnerships with their colleagues In Africa, Asia, Europe and all over the world From her belief that Economic Empowerment of Women is a must for Economic Growth and for development She has been advocating for women Empowerment on the ,African , Arab and Mediterranean regions .She founded, Business and Professional Women –Egypt and then established The African Alliance for Women Empowerment which has focal points all over Africa & the main target is Women Empowerment and promoting economic integration among women and Youth Entrepreneurs in Africa and building partnerships across their colleagues in Asia, Europe and the whole world.</p>

<p>Dr Asfour also initiated the Mediterranean Congress for Business and Professional Women as a platform for sharing experiences and good practices among women entrepreneurs in the Mediterranean Region and to have regional cooperation in the region As Dr Asfour is lobbying for women Empowerment on the African, Arab, and Mediterranean regions & on an International Level, she was awarded many awards from Egypt, Africa, Arab world, Islamic world and from all over the world.</p>

<p>
As a president of the Egyptian business women association Dr Asfour has been able to establish lot of partnerships with international and regional organizations including UN Women,UNDP,ILO,UNIDO ,African Union,European Union, Common Market for Eastern and Southern Africa (COMESA),Mediterranean chambers of Commerce .</p>

<p>Dr Asfour was also successful in implementing 2 big projects for establishing Hatchepsut Business Women Development Center for the economic empowerment of women Entrepreneurs and a regional program for support of Female entrepreneurs in Egypt, Sudan and Ethiopia.</p>


<%= image_tag('CEO.jpg' , :border => 0 , 
   :width => 204,  :height =>180, :valign => 'top' ,:class => 'floatLeft') %>
<div>                                                                           
  <font color="#1D4A75" style="font-size:12px;font-weight:bold;">
    Katherine Nyangui Ichoya,<br/>
    CEO of FEMCOM
  </font>
</div>

<p>Katherine is the CEO for FEMCOM. She is a strong Gender Activist, Political Economist and a Consultant in Micro Finance with strong leadership skills and excellent public relations. She holds a Bachelor of Arts Honours degree from Nairobi University, Kenya. In the corporate world, her experience spans a period of 10 years as a Bank Manager with National Bank of Kenya before pursuing her Master’s degree in Public Administration from Harvard University.</p>

<p>She has lectured at Tufts and New Hampshire Graduate schools where she taught women in Development and Micro Economic policies in Boston and New Hampshire respectively. She is a recipient of various awards including Mason Fellow Award from Harvard. She is a member of various international, regional and national associations.</p>

<p>Katherine is one of the pioneers of creating COMESA gender policy. She also facilitated activities towards the establishment of a secretariat in Lilongwe, Malawi. FEMCOM Secretariat is committed to strengthening its national FEMCOM Chapters in 19 Member States in the COMESA region. It has conducted consultative forums, training workshops and advocacy activities within the Member States. Katherine also influenced the creation of the COMESA First Ladies roundtable which has been a resource for ideas and change.</p>

<p>She has negotiated for and acquired land from the Malawi Government to construct a state of the art regional FEMCOM complex in Lilongwe, Malawi for long term sustainability of FEMCOM activities in the region. She has a visionary and passionate concern to see that the FEMCOM complex is in place and that more women are involved in trade and development for the betterment of COMESA region</p>



