<%= javascript_include_tag "prototype" %>
<style>
body { 
  font-size: 12px;
  background-color: Lucida Grande;
  margin: 25px;
}
</style>

<div>
  <font color="#1D4A75" face="Arial Narrow" class="ws9">Albums</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>


<div id="photos">
</div>

