<%= javascript_include_tag "prototype" %>

<div>
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">ALBUMS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>


<div id="photos">
</div>

