<%= javascript_include_tag "prototype" %>

<style type="text/css">                                                         
  body {                                                                        
    -moz-user-select:none;                                                      
  font-family: Arial,sans-serif;                                                
  }                                                                             
                                                                                
  #table_div {                                                                  
    overflow:auto;                                                              
    height: 320px;                                                              
    background-color: white;                                                    
    border: #eee 1px solid;                                                     
    border-width: 1px;                                                          
  }                                                                             
                                                                                
  #tab {                                                                        
    -moz-user-select:none;                                                      
  }                                                                   
  
#photos img {
  width: 180px;
  height: 180px;
  border: 4px;
  border-style: solid;
}

</style>



<div>
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">ALBUMS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>


<div id="photos">
  <%@albums.map do |album| %>
      <a href="/femcom/album?id=<%=album.id%>"><%= image_tag("/images/pictures/#{album.pictures.last.uri}")%></a>
  <%end%>
  <%= will_paginate @albums %> 
</div>

