<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<meta name="generator" content="Web Page Maker">
<style type="text/css">
/*----------Text Styles----------*/
.ws6 {font-size: 8px;}
.ws7 {font-size: 9.3px;}
.ws8 {font-size: 11px;}
.ws9 {font-size: 12px;}
.ws10 {font-size: 13px;}
.ws11 {font-size: 15px;}
.ws12 {font-size: 16px;}
.ws14 {font-size: 19px;}
.ws16 {font-size: 21px;}
.ws18 {font-size: 24px;}
.ws20 {font-size: 27px;}
.ws22 {font-size: 29px;}
.ws24 {font-size: 32px;}
.ws26 {font-size: 35px;}
.ws28 {font-size: 37px;}
.ws36 {font-size: 48px;}
.ws48 {font-size: 64px;}
.ws72 {font-size: 96px;}
.wpmd {font-size: 13px;font-family: Arial,Helvetica,Sans-Serif;font-style: normal;font-weight: normal;}
/*----------Para Styles----------*/
DIV,UL,OL /* Left */
{
 margin-top: 0px;
 margin-bottom: 0px;
}
</style>

<style type="text/css">
a.style1:link{color:#FFFFFF;text-decoration: none;}
a.style1:visited{color:#FFFFFF;text-decoration: none line-through;}
a.style1:hover{color:#C0C0C0;text-decoration: none;}
a.style1:active{color:#FFFFFF;text-decoration: none;}
</style>

<style type="text/css">
div#container
{
	position:relative;
	width: 1063px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align:left; 
}
body {text-align:center;margin:0}
</style>

</head>
<body background="/images/old.jpg" bgColor="#C0C0C0">
<div id="container">
<div id="/image1" style="position:absolute; overflow:hidden; left:28px; top:48px; width:1006px; height:2657px; z-index:0; background-color:#FFFFFF"><img src="/images/white.jpg" alt="" title="" border=0 width=1006 height=2657></div>

<div id="g_image3" style="position:absolute; overflow:hidden; left:42px; top:62px; width:350px; height:102px; z-index:1"><img src="/images/logo.gif" alt="" title="" border=0 width=350 height=102></div>

<div id="g_image2" style="position:absolute; overflow:hidden; left:43px; top:180px; width:977px; height:33px; z-index:2"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=977 height=33></div>

<div id="g_text2" style="position:absolute; overflow:hidden; left:129px; top:188px; width:891px; height:22px; z-index:3">
<div class="wpmd">
<div><a href="/" title="" class="style1">Home</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/about_us"    title="" class="style1">About Us</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/services" title=""              class="style1">Services</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/national_chapters" title=""              class="style1">National Chapters</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/events" title="" class="style1">Events</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="" class="style1">Program</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/news" title=""     class="style1">News</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/allery" title="" class="style1">Gallery</a><font color="#FFFFFF">&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/documents" title="" class="style1">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/  femcom/contact_us" title="" class="style1">Contact Us</a></div>
</div></div>

<div id="g_image1" style="position:absolute; overflow:hidden; left:811px; top:135px; width:210px; height:32px; z-index:4"><img src="/images/arc.gif" alt="" title="" border=0 width=210 height=32></div>

<div id="g_text1" style="position:absolute; overflow:hidden; left:832px; top:143px; width:176px; height:21px; z-index:5">
<div class="wpmd">
<div align=center><font class="ws9">FEMCOM Webmail</font></div>
</div></div>

<div id="image2" style="position:absolute; overflow:hidden; left:118px; top:338px; width:74px; height:61px; z-index:6"><img src="/images/ACTESA.png" alt="" title="" border=0 width=74 height=61></div>

<div id="image3" style="position:absolute; overflow:hidden; left:123px; top:265px; width:67px; height:60px; z-index:7"><img src="/images/comesa.png" alt="" title="" border=0 width=67 height=60></div>

<div id="image4" style="position:absolute; overflow:hidden; left:87px; top:487px; width:139px; height:56px; z-index:8"><img src="/images/KMH.png" alt="" title="" border=0 width=139 height=56></div>

<div id="image5" style="position:absolute; overflow:hidden; left:251px; top:248px; width:16px; height:294px; z-index:9"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=294></div>

<div id="image6" style="position:absolute; overflow:hidden; left:40px; top:247px; width:16px; height:295px; z-index:10"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=295></div>

<div id="hr1" style="position:absolute; overflow:hidden; left:191px; top:241px; width:69px; height:17px; z-index:11">
<hr size=2 width=69>
</div>

<div id="hr2" style="position:absolute; overflow:hidden; left:48px; top:240px; width:70px; height:17px; z-index:12">
<hr size=2 width=70>
</div>

<div id="hr3" style="position:absolute; overflow:hidden; left:47px; top:531px; width:212px; height:17px; z-index:13">
<hr size=2 width=212>
</div>

<form name="form1" method="post" action="mailto:support@webpage-maker.com" enctype="text/plain" style="margin:0px">
<input name="formtext1" type="text" style="position:absolute;width:150px;left:101px;top:904px;z-index:55">
<input name="formtext2" type="text" style="position:absolute;width:150px;left:101px;top:937px;z-index:56">
<input name="formbutton1" type="submit" value="Subscribe" style="position:absolute;left:163px;top:967px;z-index:57">
</form>

<div id="image7" style="position:absolute; overflow:hidden; left:96px; top:406px; width:124px; height:83px; z-index:15"><img src="/images/CAABWA-logo.gif" alt="" title="" border=0 width=124 height=83></div>

<div id="image8" style="position:absolute; overflow:hidden; left:59px; top:552px; width:66px; height:67px; z-index:16"><img src="/images/news.png" alt="" title="" border=0 width=66 height=67></div>

<div id="text1" style="position:absolute; overflow:hidden; left:58px; top:615px; width:196px; height:224px; z-index:17">
<div class="wpmd">
<div style="line-height:1.50;"><font color="#000000" class="ws9">1. FEMCOM Assists in ICT Training for Grassroots Women</font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"> 2. Malawi ICT Week &amp; E-Government Conference 2012</font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9">3. FEMCOM Assists a Gem of Africa – Chiccu Clothing Ltd</font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9">4. FEMCOM welcomes an intern from University of Toronto</font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
</div></div>

<div id="hr4" style="position:absolute; overflow:hidden; left:231px; top:578px; width:29px; height:17px; z-index:18">
<hr size=2 width=29>
</div>

<div id="image9" style="position:absolute; overflow:hidden; left:251px; top:586px; width:16px; height:257px; z-index:19"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=257></div>

<div id="image10" style="position:absolute; overflow:hidden; left:42px; top:585px; width:16px; height:258px; z-index:20"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=258></div>

<div id="hr5" style="position:absolute; overflow:hidden; left:49px; top:578px; width:14px; height:17px; z-index:21">
<hr size=2 width=14>
</div>

<div id="text2" style="position:absolute; overflow:hidden; left:497px; top:272px; width:421px; height:2399px; z-index:22">
<div class="wpmd">
<div>Ms Alice Remezo, President Burundi Association of Burundi Women Entrepreneurs, P.O. Box 1628, Bujumbura; Email: alolo15@yahoo.fr / fbafab@yahoo.com</div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div> Mahamoud Hassan Fatouma, Lawyer Union Nationale des Femmes de Djibouti (UNFD) BP 3811 Djibouti Tel: +253 356 526 Fax: +253 356 528 Mobile: +253 811004 Email: cabinetmahamoud@vahoo.fr </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Tsehaitu Daniel, Head of Women in Business Development Unit Eritrean National Chamber of Commerce Box 12756, Eritrea Tel: +291 1 121 589 Fax: +291 1 121 038 Email: tsehaitu2001@yahoo.ca </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Joanne Mwangi, Chairperson Federation of Women Entrepreneurs Association (FEWA) King’ara Road, Lavington PO Box 5560-0002000, Nairobi, Kenya Tel: +254 20 387 747 Mobile: +254 072 251 8880 Email: joanne@pms.co.ke Website: www.fewa.or.ke </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Mrs. Ibstiam Ben Amer, Head of Delegation (Mr. Isa Ayad Babaa, Managing Director) Libyan Businessmen Council Dat el-Emad Complex, Tower #5, 1st Floor PO Box 91491, Tripoli Libya Tel: +218 912 132 418/ +218 21 335 0373 Fax: +218 214 777 845/ +218 21 335 0374 Email: ibtisam49@gmail.com; info@lybc.org Website: www.lybc.org </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Villleneuve Anaudin Marie Ginette, Managing Director Association Mauricienne des Femmes Chefs d’Entreprise (AMFCE) Charles Cheron Street, Eau-Coulee, Mauritius Tel: +230 670 1607 Fax: +230 670 7230 Email: consicouette@intnet.mu </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Tessa Siu, Research Officer Gender Secretariat, Ministry of Employment and Social Affairs PO Box 190, Victoria Mahe, Seychelles Tel: +248 281 992 Email: tessasiu@hotmail.com </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Nagat Abdallah Ahmed, Chairperson AFWOPDR Reyadh Street 117, Block 37, Flat 19, Khartoum, Sudan Tel: + 249 123 056 561 Fax: +249 918 356 7650 Email: nagatshouk111@hotmail.com; nagatosmansh@gmail.com </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Jennifer Mwijukye, Secretary General Uganda Women Entrepreneurs Association (UWEAL) Box 12160, Kampala, Uganda Tel: +256 711 756 Fax: +256 41 23196 Mobile: +256 75/71 73369 Email: jennymwijukye@yahoo.uk; uweal@enterprise.co.ug Website: www.uweal.co.ug </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Liliane Okende Kalambay, Adminstrator General, Siege Imm Le Royal BLD du 30 Juin, Local 202, entree A Kinshasa/ Gombe , Republic Democratic of Congo Phone: +243 (8181) 19080 / +243 9911 39702, </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Dr Amany Asfour, President, Egyptian Business Woman Association (EBWA), 14 Syria St. Mohandseen Cairo, Egypt. Email: ebwaegypt@yahoo.com; info@ebwa.info; asfour2712@vahoo.com Website: http://www.ebwa.info/ </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Nigest Haile, Executive Director Centre of African Women Economic Empowerment (CAWEE) PO Box 41293, Addis Ababa, Ethiopia Tel: +251 11 320 6065 Fax: +251 11 320 6066 Mobile: +251 91 140 29257 Email: cawee@ethionet.et; cawee07@yahoo.com Website: http://www.cawee-ethiopia.org/ </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Rakotondravelo Radel, Coordinatrice Nationale de DRV Comite de Concertation et de Coordination des Associations et de Organisations/ Femme de Madagascar Plate-forme Nationale des Organisations de lo Societe civile de Madagascar Lot II M71B Antasakoviro Antsakoviro 101, Madagascar Tel: +261 331171517 Email: eccpl@wanadoo.mg </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Mary Malunga, Executive Director National Associations of Business Women (NABW) Chichiri Trade Fair Grounds, Private Bag 56, Blantyre Tel: +265 1 874 106 Cell: +265 999 951 888 Email: mfmalunga@nbwmalawi.org </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Immy Kamarade, Chairperson, Rwanda Chamber of Women Entrepreneurs Rwanda Private Sector Federation BP 6969 Kigali, Rwanda Mobile: + 250 788 302 113 Email: immy1965@yahoo.com </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Thandi Nxumalo, Chairperson Business Women’s Forum of Swaziland (BWFS) Mobile: +268 604 9418 Email: thandizn@swazi.net </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Ms. Nancy Kawandami, Chairperson Zambia Federation of Associations of Women in Business Ground Floor Room 9, Kwacha House Annex, Cairo Road, Lusaka Tel: +260 211 220 812 Fax: +260 211 220 812 Email: zfawib@yahoo.co.uk </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
<div>Phides Mazhawidza, Chairperson FEMCOM, 3 Acacia Close Bluffhill Harare, Zimabwe Tel: + 263 4 331 044 Fax: + 263 4 331 567 Mobile: + 263 712 802 368 Email: phides@comone.co.zw; wflatrust@gamail.com </div>
<div><BR></div>
<div><BR></div>
<div><BR></div>
</div></div>

<div id="image11" style="position:absolute; overflow:hidden; left:47px; top:236px; width:213px; height:20px; z-index:23"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=213 height=20></div>

<div id="text3" style="position:absolute; overflow:hidden; left:126px; top:238px; width:69px; height:21px; z-index:24">
<div class="wpmd">
<div><font color="#FFFFFF">Parteners</font></div>
</div></div>

<div id="image12" style="position:absolute; overflow:hidden; left:122px; top:574px; width:138px; height:20px; z-index:25"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=138 height=20></div>

<div id="text4" style="position:absolute; overflow:hidden; left:136px; top:576px; width:110px; height:22px; z-index:26">
<div class="wpmd">
<div><font color="#FFFFFF">Our Latest News</font></div>
</div></div>

<div id="shape1" style="position:absolute; overflow:hidden; left:292px; top:257px; width:197px; height:112px; z-index:27"><img src="/images/BURUNDI.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape2" style="position:absolute; overflow:hidden; left:293px; top:384px; width:197px; height:112px; z-index:28"><img src="/images/Comoros.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape3" style="position:absolute; overflow:hidden; left:294px; top:513px; width:197px; height:112px; z-index:29"><img src="/images/DRC.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape4" style="position:absolute; overflow:hidden; left:294px; top:640px; width:197px; height:112px; z-index:30"><img src="/images/Kenya.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape5" style="position:absolute; overflow:hidden; left:294px; top:770px; width:197px; height:112px; z-index:31"><img src="/images/Libya.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape6" style="position:absolute; overflow:hidden; left:293px; top:905px; width:197px; height:112px; z-index:32"><img src="/images/Mauritius.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape7" style="position:absolute; overflow:hidden; left:293px; top:1040px; width:197px; height:112px; z-index:33"><img src="/images/SEYCHELLES.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape8" style="position:absolute; overflow:hidden; left:294px; top:1178px; width:197px; height:112px; z-index:34"><img src="/images/Sudan.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape9" style="position:absolute; overflow:hidden; left:294px; top:1312px; width:197px; height:112px; z-index:35"><img src="/images/Uganda.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape10" style="position:absolute; overflow:hidden; left:295px; top:1445px; width:197px; height:112px; z-index:36"><img src="/images/DRC.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape11" style="position:absolute; overflow:hidden; left:293px; top:1585px; width:197px; height:112px; z-index:37"><img src="/images/Egypt.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape12" style="position:absolute; overflow:hidden; left:293px; top:1725px; width:197px; height:112px; z-index:38"><img src="/images/Ethiopia.png" alt="" border=0 width="100%" height="100%"></div>

<div id="text5" style="position:absolute; overflow:hidden; left:371px; top:1706px; width:94px; height:26px; z-index:39">
<div class="wpmd">
<div>Ethiopia</div>
</div></div>

<div id="shape13" style="position:absolute; overflow:hidden; left:292px; top:1868px; width:197px; height:112px; z-index:40"><img src="/images/madaga.jpg" alt="" border=0 width="100%" height="100%"></div>

<div id="text6" style="position:absolute; overflow:hidden; left:322px; top:1852px; width:182px; height:28px; z-index:41">
<div class="wpmd">
<div>FEMCOM Madagascar</div>
</div></div>

<div id="shape14" style="position:absolute; overflow:hidden; left:293px; top:2017px; width:197px; height:112px; z-index:42"><img src="images/huj.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape15" style="position:absolute; overflow:hidden; left:292px; top:2157px; width:197px; height:112px; z-index:43"><img src="images/Rwanda.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape16" style="position:absolute; overflow:hidden; left:294px; top:2299px; width:197px; height:112px; z-index:44"><img src="images/Swaziland.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape17" style="position:absolute; overflow:hidden; left:294px; top:2433px; width:197px; height:112px; z-index:45"><img src="images/Zambia.png" alt="" border=0 width="100%" height="100%"></div>

<div id="shape18" style="position:absolute; overflow:hidden; left:294px; top:2576px; width:197px; height:112px; z-index:46"><img src="images/Zimbabwe.png" alt="" border=0 width="100%" height="100%"></div>

<div id="hr6" style="position:absolute; overflow:hidden; left:49px; top:833px; width:210px; height:17px; z-index:47">
<hr size=2 width=210>
</div>

<div id="image13" style="position:absolute; overflow:hidden; left:82px; top:860px; width:38px; height:28px; z-index:48"><img src="images/newsletter.png" alt="" title="" border=0 width=38 height=28></div>

<div id="text7" style="position:absolute; overflow:hidden; left:59px; top:907px; width:39px; height:51px; z-index:49">
<div class="wpmd">
<div><font color="#FFFFFF" face="Coda" class="ws8">Name</font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8">Email</font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
</div></div>

<div id="hr7" style="position:absolute; overflow:hidden; left:195px; top:873px; width:65px; height:17px; z-index:50">
<hr size=2 width=65>
</div>

<div id="hr8" style="position:absolute; overflow:hidden; left:48px; top:875px; width:33px; height:17px; z-index:51">
<hr size=2 width=33>
</div>

<div id="image14" style="position:absolute; overflow:hidden; left:41px; top:882px; width:16px; height:121px; z-index:52"><img src="images/line120.gif" alt="" title="" border=0 width=16 height=121></div>

<div id="image15" style="position:absolute; overflow:hidden; left:252px; top:881px; width:16px; height:121px; z-index:53"><img src="images/line120.gif" alt="" title="" border=0 width=16 height=121></div>

<div id="hr9" style="position:absolute; overflow:hidden; left:48px; top:994px; width:212px; height:17px; z-index:54">
<hr size=2 width=212>
</div>

<div id="text8" style="position:absolute; overflow:hidden; left:58px; top:907px; width:67px; height:54px; z-index:58">
<div class="wpmd">
<div>Name</div>
<div><BR></div>
<div>Email</div>
<div><BR></div>
<div><BR></div>
</div></div>

<div id="image16" style="position:absolute; overflow:hidden; left:122px; top:871px; width:138px; height:20px; z-index:59"><img src="images/Bar1.jpg" alt="" title="" border=0 width=138 height=20></div>

<div id="text9" style="position:absolute; overflow:hidden; left:156px; top:872px; width:112px; height:22px; z-index:60">
<div class="wpmd">
<div><font color="#FFFFFF">Newslatter</font></div>
</div></div>

<div id="text10" style="position:absolute; overflow:hidden; left:624px; top:235px; width:146px; height:22px; z-index:61">
<div class="wpmd">
<div style="line-height:1.50;"><font face="Cambria"><B>NATIONAL CHAPTERS</B></font></div>
</div></div>

<div id="image17" style="position:absolute; overflow:hidden; left:28px; top:2705px; width:1007px; height:53px; z-index:62"><img src="images/Bar1.jpg" alt="" title="" border=0 width=1007 height=53></div>

</div>

</body>
</html>
