
<%(@contents || []).each do |content|%>                                         
<div>                                                                           
  <font color="#1D4A75" style="font-weight:bold;font-size:13px;"><%=content.title.upcase%></font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          
                                                                                
<%=render(:inline => print_news(content.post))%>                             
<br /><br />                                                                    
<%end%> 

