<style>
  table { 
    color: #554433;
    font-size: 12px;   
  }
 
  #submitbtn {
  }

</style>

<div id='news'>
<%if flash[:notice]%>                                                           
  <font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br /> 
<%end%>
<form action='add_partner_logo' method="post" enctype="multipart/form-data">
<table>
<tr>
  <td>Select partner's name:</td><td>&nbsp;<select id="name" name='id'>
      <option></option>
      <%(@partners || []).each do |partner| %>
        <option value="<%=partner.id%>"><%=partner.name%></option>
      <%end%>
     </select>
  </td>
</tr>
<tr>
  <td>Browse file:</td><td>&nbsp;<%= file_field 'upload', 'datafile' %></td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
<tr>
  <td colspan="2">
    <input type='submit' value = 'Upload' id = 'submitbtn' style="width:100%;" />
  </td>
</tr>
</table>
<input type='hidden' name = 'type' value = 'pdf' />
</form>
