<style>
body { 
  font-size: 12px;
}
</style>

<script>                                                                        
  function adminPage(page) {                                                    
   var element = document.getElementById('extFrame');                           
   if (page == 'news') {                                                        
     document.getElementById('title').innerHTML="Post news";                           
     element.src = '/user/create_news';                                         
   }else if (page == 'files') {                                                 
     document.getElementById('title').innerHTML="Upload documents";                           
     element.src = '/user/upload_pdf';                                          
   }else if (page == 'event') {                                                 
     document.getElementById('title').innerHTML="Create events";                           
     element.src = '/user/create_events';                                       
   }else if (page == 'video') {                                                 
     document.getElementById('title').innerHTML="Link youtube videos";                           
     element.src = '/user/create_video_link';                                   
   }else if (page == 'photo') {                                                 
     document.getElementById('title').innerHTML="Upload picture(s)";                           
     element.src = '/user/upload_pictures';                                     
   }else if (page == 'new_photo') {                                                 
     document.getElementById('title').innerHTML="Create photo album";                           
     element.src = '/user/upload_new_pictures';                                     
   }else if (page == 'news-edit') {                                                 
     document.getElementById('title').innerHTML="Edit news";                           
     element.src = '/user/edit_news';                                     
   }else if (page == 'files-edit') {                                                 
     document.getElementById('title').innerHTML="Edit documents";                           
     element.src = '/user/edit_files';                                     
   }else if (page == 'event-edit') {                                                 
     document.getElementById('title').innerHTML="Edit events";                           
     element.src = '/user/event_edit';                                     
   }else if (page == 'change-password') {                                                 
     document.getElementById('title').innerHTML="Change password";                           
     element.src = '/user/edit_password';                                     
   }else if (page == 'home-page') {                                                 
     document.getElementById('title').innerHTML="Edit home page contents";                           
     element.src = '/user/home_page';                                     
   }else if (page == 'change-home-page-photos') {                                                 
     document.getElementById('title').innerHTML="Change home page photos";                           
     element.src = '/user/change_home_page_photos';                                     
   }else if (page == 'current-focus') {                                                 
     document.getElementById('title').innerHTML="Current focus and activities";                           
     element.src = '/user/current_focus_and_activities';                                     
   }else if (page == 'current-focus-delete') {                                                 
     document.getElementById('title').innerHTML="Current focus and activities (delete)";                           
     element.src = '/user/current_focus_and_activities_list';                                     
   }else if (page == 'services') {                                                 
     document.getElementById('title').innerHTML="Services - create";                           
     element.src = '/user/services_create';                                     
   }else if (page == 'services-edit') {                                                 
     document.getElementById('title').innerHTML="Services - edit";                           
     element.src = '/user/services_list';                                     
   }                                                                            
  }                                                                             
                                                                                
                                                                                
                                                                                
</script>  


<div>                                                                           
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">ADMINISTRATION</font>   
  <font color="#1D4A75" style="font-size:10px;font-weight:bold; position: absolute; right:60px;">
    <a href="/user/logout">Logout</a></font>   
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>

<div>.................................&nbsp;<a href="javascript:adminPage('news');">Create news</a>&nbsp;&nbsp;
<a href="javascript:adminPage('news-edit');">(edit)</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('files');">Upload pdf</a>&nbsp;&nbsp;
<a href="javascript:adminPage('files-edit');">(edit)</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('event');">Create event</a>&nbsp;&nbsp;
<a href="javascript:adminPage('event-edit');">(edit)</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('new_photo');">Create photo album</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('photo');">Upload pictures</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('video');">Create video link</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('change-password');">Change password</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('home-page');">Change home page content (text)</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('change-home-page-photos');">Change home page photos</a></div>
<!--div>.................................&nbsp;
  <a href="javascript:adminPage('current-focus');">Add current focus & activities</a>
  <a href="javascript:adminPage('current-focus-delete');">(delete)</a>
</div-->
<div>.................................&nbsp;
  <a href="javascript:adminPage('services');">Change services content</a>
  <a href="javascript:adminPage('services-edit');">(edit)</a>
</div>
<hr></hr>                                                                       
                                                                                
<br></br>                                                                       
<div id='title'></div><br />                                                                                
<iframe id="extFrame" src="blank.php" style="width:99%;height:500px;"></iframe> 
                                                                                
                                                                                
</p>
