<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<meta name="generator" content="Web Page Maker">

<%=stylesheet_link_tag "main", :media => "all" %>                               


<script>
  function adminPage(page) {
   var element = document.getElementById('extFrame');
   if (page == 'news') {
     element.src = '/user/create_news'; 
   }else if (page == 'files') {
     element.src = '/user/upload_pdf'; 
   }else if (page == 'event') {
     element.src = '/user/create_events'; 
   }else if (page == 'video') {
     element.src = '/user/create_video_link'; 
   }else if (page == 'photo') {
     element.src = '/user/upload_pictures'; 
   }
  }



</script>


<style type="text/css">
/*----------Text Styles----------*/
.ws6 {font-size: 8px;}
.ws7 {font-size: 9.3px;}
.ws8 {font-size: 11px;}
.ws9 {font-size: 12px;}
.ws10 {font-size: 13px;}
.ws11 {font-size: 15px;}
.ws12 {font-size: 16px;}
.ws14 {font-size: 19px;}
.ws16 {font-size: 21px;}
.ws18 {font-size: 24px;}
.ws20 {font-size: 27px;}
.ws22 {font-size: 29px;}
.ws24 {font-size: 32px;}
.ws26 {font-size: 35px;}
.ws28 {font-size: 37px;}
.ws36 {font-size: 48px;}
.ws48 {font-size: 64px;}
.ws72 {font-size: 96px;}
.wpmd {font-size: 13px;font-family: Arial,Helvetica,Sans-Serif;font-style: normal;font-weight: normal;}
/*----------Para Styles----------*/
DIV,UL,OL /* Left */
{
 margin-top: 0px;
 margin-bottom: 0px;
}
</style>

<style type="text/css">
a.style1:link{color:#FFFFFF;text-decoration: none;}
a.style1:visited{color:#FFFFFF;text-decoration: none line-through;}
a.style1:hover{color:#C0C0C0;text-decoration: none;}
a.style1:active{color:#FFFFFF;text-decoration: none;}
</style>

<style type="text/css">
div#container
{
	position:relative;
	width: 1063px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align:left; 
}
body {text-align:center;margin:0}
</style>

</head>
<body background="/images/old.jpg" bgColor="#C0C0C0">
<div id="container">
<div id="g_image4" style="position:absolute; overflow:hidden; left:28px; top:48px; width:1006px; height:964px; z-index:0; background-color:#FFFFFF"><img src="/images/white.jpg" alt="" title="" border=0 width=1006 height=964></div>

<div id="g_image3" style="position:absolute; overflow:hidden; left:42px; top:62px; width:350px; height:102px; z-index:1"><img src="/images/logo.gif" alt="" title="" border=0 width=350 height=102></div>

<div id="g_image2" style="position:absolute; overflow:hidden; left:43px; top:180px; width:977px; height:33px; z-index:2"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=977 height=33></div>

<div id="g_text2" style="position:absolute; overflow:hidden; left:129px; top:188px; width:891px; height:22px; z-index:3">
<div class="wpmd">
<div><a href="/" title="" class="style1">Home</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/about_us"    title="" class="style1">About Us</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/services" title=""              class="style1">Services</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/national_chapters" title=""              class="style1">National Chapters</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/events" title="" class="style1">Events</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="" class="style1">Program</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/news" title=""     class="style1">News</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/allery" title="" class="style1">Gallery</a><font color="#FFFFFF">&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/documents" title="" class="style1">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </font><a href="/femcom/contact_us" title="" class="style1">Contact Us</a></div>

</div></div>

<div id="g_image1" style="position:absolute; overflow:hidden; left:811px; top:135px; width:210px; height:32px; z-index:4"><img src="/images/arc.gif" alt="" title="" border=0 width=210 height=32></div>

<div id="g_text1" style="position:absolute; overflow:hidden; left:832px; top:143px; width:176px; height:21px; z-index:5">
<div class="wpmd">
<div align=center><font class="ws9">FEMCOM Webmail</font></div>
</div></div>

<div id="g_image15" style="position:absolute; overflow:hidden; left:118px; top:338px; width:74px; height:61px; z-index:6"><img src="/images/ACTESA.png" alt="" title="" border=0 width=74 height=61></div>

<div id="g_image14" style="position:absolute; overflow:hidden; left:123px; top:265px; width:67px; height:60px; z-index:7"><img src="/images/comesa.png" alt="" title="" border=0 width=67 height=60></div>

<div id="g_image13" style="position:absolute; overflow:hidden; left:87px; top:487px; width:139px; height:56px; z-index:8"><img src="/images/KMH.png" alt="" title="" border=0 width=139 height=56></div>

<div id="g_image12" style="position:absolute; overflow:hidden; left:251px; top:248px; width:16px; height:294px; z-index:9"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=294></div>

<div id="g_image11" style="position:absolute; overflow:hidden; left:40px; top:247px; width:16px; height:295px; z-index:10"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=295></div>

<div id="g_hr6" style="position:absolute; overflow:hidden; left:191px; top:241px; width:69px; height:17px; z-index:11">
<hr size=2 width=69>
</div>

<div id="g_hr5" style="position:absolute; overflow:hidden; left:48px; top:240px; width:70px; height:17px; z-index:12">
<hr size=2 width=70>
</div>

<div id="g_hr4" style="position:absolute; overflow:hidden; left:47px; top:531px; width:212px; height:17px; z-index:13">
<hr size=2 width=212>
</div>

<form name="form1" method="post" action="mailto:support@webpage-maker.com" enctype="text/plain" style="margin:0px">
</form>

<div id="g_image10" style="position:absolute; overflow:hidden; left:96px; top:406px; width:124px; height:83px; z-index:15"><img src="/images/CAABWA-logo.gif" alt="" title="" border=0 width=124 height=83></div>

<div id="g_image9" style="position:absolute; overflow:hidden; left:59px; top:552px; width:66px; height:67px; z-index:16"><img src="/images/news.png" alt="" title="" border=0 width=66 height=67></div>

<div id="g_text5" style="position:absolute; overflow:hidden; left:58px; top:615px; width:196px; height:224px; z-index:17">
<div class="wpmd">
<div style="line-height:1.50;"><font color="#000000" class="ws9">1. FEMCOM Assists in ICT Training for Grassroots Women</font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"> 2. Malawi ICT Week &amp; E-Government Conference 2012</font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9">3. FEMCOM Assists a Gem of Africa – Chiccu Clothing Ltd</font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9">4. FEMCOM welcomes an intern from University of Toronto</font></div>
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
</div></div>

<div id="g_hr3" style="position:absolute; overflow:hidden; left:231px; top:578px; width:29px; height:17px; z-index:18">
<hr size=2 width=29>
</div>

<div id="g_image8" style="position:absolute; overflow:hidden; left:251px; top:586px; width:16px; height:257px; z-index:19"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=257></div>

<div id="g_image7" style="position:absolute; overflow:hidden; left:42px; top:585px; width:16px; height:258px; z-index:20"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=258></div>

<div id="g_hr2" style="position:absolute; overflow:hidden; left:49px; top:833px; width:210px; height:17px; z-index:21">
<hr size=2 width=210>
</div>

<div id="g_hr1" style="position:absolute; overflow:hidden; left:49px; top:578px; width:14px; height:17px; z-index:22">
<hr size=2 width=14>
</div>

<div id="g_image6" style="position:absolute; overflow:hidden; left:47px; top:236px; width:212px; height:20px; z-index:23"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=212 height=20></div>

<div id="g_text4" style="position:absolute; overflow:hidden; left:126px; top:238px; width:69px; height:21px; z-index:24">
<div class="wpmd">
<div><font color="#FFFFFF">Parteners</font></div>
</div></div>

<div id="g_image5" style="position:absolute; overflow:hidden; left:122px; top:574px; width:138px; height:20px; z-index:25"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=138 height=20></div>

<div id="g_text3" style="position:absolute; overflow:hidden; left:136px; top:576px; width:110px; height:22px; z-index:26">
<div class="wpmd">
<div><font color="#FFFFFF">Our Latest News</font></div>
</div></div>

<div id="g_image19" style="position:absolute; overflow:hidden; left:82px; top:860px; width:38px; height:28px; z-index:27"><img src="/images/newsletter.png" alt="" title="" border=0 width=38 height=28></div>

<div id="g_text8" style="position:absolute; overflow:hidden; left:59px; top:907px; width:39px; height:51px; z-index:28">
<div class="wpmd">
<div><font color="#FFFFFF" face="Coda" class="ws8">Name</font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8">Email</font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
<div><font color="#FFFFFF" face="Coda" class="ws8"><BR></font></div>
</div></div>

<div id="g_hr9" style="position:absolute; overflow:hidden; left:195px; top:873px; width:65px; height:17px; z-index:29">
<hr size=2 width=65>
</div>

<div id="g_hr8" style="position:absolute; overflow:hidden; left:48px; top:875px; width:33px; height:17px; z-index:30">
<hr size=2 width=33>
</div>

<div id="g_image18" style="position:absolute; overflow:hidden; left:41px; top:882px; width:16px; height:121px; z-index:31"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=121></div>

<div id="g_image17" style="position:absolute; overflow:hidden; left:252px; top:881px; width:16px; height:121px; z-index:32"><img src="/images/line120.gif" alt="" title="" border=0 width=16 height=121></div>

<div id="g_hr7" style="position:absolute; overflow:hidden; left:48px; top:994px; width:212px; height:17px; z-index:33">
<hr size=2 width=212>
</div>

<div id="g_text7" style="position:absolute; overflow:hidden; left:58px; top:907px; width:67px; height:54px; z-index:37">
<div class="wpmd">
<div>Name</div>
<div><BR></div>
<div>Email</div>
<div><BR></div>
<div><BR></div>
</div></div>

<div id="g_image16" style="position:absolute; overflow:hidden; left:122px; top:871px; width:138px; height:20px; z-index:38"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=138 height=20></div>

<div id="g_text6" style="position:absolute; overflow:hidden; left:156px; top:872px; width:112px; height:22px; z-index:39">
<div class="wpmd">
<div><font color="#FFFFFF">Newslatter</font></div>
</div></div>

<div id="text1" style="position:absolute; overflow:hidden; left: 280px; top:238px; width: 69%; height:auto; z-index:40">
<div class="wpmd">
<div style="line-height:1.50;"><font face="Cambria"><B>ADMIN</B></font>

<p>

<div>.................................&nbsp;<a href="javascript:adminPage('news');">Create news</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('files');">Upload pdf</a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('event');">Create event</a></div>
<!--div>.................................&nbsp;<a href="javascript:adminPage('photo');">Upload photo</a></div-->
<div>.................................&nbsp;<a href="javascript:adminPage('video');">Create video link</a></div>
<hr></hr> 

<br></br>

<iframe id="extFrame" src="blank.php" style="width:99%;height:500px;"></iframe>


</p>


</div>
</div></div>

<div id="g_image20" style="position:absolute; overflow:hidden; left:28px; top:1012px; width:1007px; height:53px; z-index:41"><img src="/images/Bar1.jpg" alt="" title="" border=0 width=1007 height=53></div>

</div>

</body>
</html>
