<style>
body { 
  font-size: 12px;
}
</style>

<script>                                                                        
  function adminPage(page) {                                                    
   var element = document.getElementById('extFrame');                           
   if (page == 'news') {                                                        
     element.src = '/user/create_news';                                         
   }else if (page == 'files') {                                                 
     element.src = '/user/upload_pdf';                                          
   }else if (page == 'event') {                                                 
     element.src = '/user/create_events';                                       
   }else if (page == 'video') {                                                 
     element.src = '/user/create_video_link';                                   
   }else if (page == 'photo') {                                                 
     element.src = '/user/upload_pictures';                                     
   }else if (page == 'new_photo') {                                                 
     element.src = '/user/upload_new_pictures';                                     
   }else if (page == 'news-edit') {                                                 
     element.src = '/user/edit_news';                                     
   }else if (page == 'files-edit') {                                                 
     element.src = '/user/edit_files';                                     
   }                                                                            
  }                                                                             
                                                                                
                                                                                
                                                                                
</script>  


<div>                                                                           
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">ADMINISTRATION</font>   
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>

<div>.................................&nbsp;<a href="javascript:adminPage('news');">Create news</a>&nbsp;&nbsp;
<a href="javascript:adminPage('news-edit');">(edit)</a></a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('files');">Upload pdf</a>&nbsp;&nbsp;
<a href="javascript:adminPage('files-edit');">(edit)</a></a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('event');">Create event</a>&nbsp;&nbsp;
<a href="javascript:adminPage('event-edit');">(edit)</a></a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('new_photo');">Create photo album</a>&nbsp;&nbsp;
<a href="javascript:adminPage('new_photo-edit');">(edit)</a></a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('photo');">Upload pictures</a>&nbsp;&nbsp;
<a href="javascript:adminPage('photo-edit');">(edit)</a></a></div>
<div>.................................&nbsp;<a href="javascript:adminPage('video');">Create video link</a>&nbsp;&nbsp;
<a href="javascript:adminPage('video-edit');">(edit)</a></a></div>
<hr></hr>                                                                       
                                                                                
<br></br>                                                                       
                                                                                
<iframe id="extFrame" src="blank.php" style="width:99%;height:500px;"></iframe> 
                                                                                
                                                                                
</p>
