<html>
<head>
<title></title>

<script type="text/javascript">                                                 
                                                                                
function setImage(myValue) {                                                        
  var myField = document.getElementById('post');
  //IE support
  if (document.selection) {
      myField.focus();
      sel = document.selection.createRange();
      sel.text = myValue;
  }
  //MOZILLA and others
  else if (myField.selectionStart || myField.selectionStart == '0') {
      var startPos = myField.selectionStart;
      var endPos = myField.selectionEnd;
      myField.value = myField.value.substring(0, startPos)
          + myValue
          + myField.value.substring(endPos, myField.value.length);
  } else {
      myField.value += myValue;
  }
}                                                                               
                                                                                
                                                                                
function InsertCodeInTextArea(textValue) {                                      
  setImage(textValue);                                                          
}                                                                               
                                                                                
function submitForm() {                                                         
  document.getElementById('main-form').submit();                                
}                                                                               
                                                                                
function validatePost() {                                                       
 return false;                                                                  
}                                                                               
</script> 

</head>


<body>

<%if flash[:notice]%>                                                           
  <font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br /> 
<%end%>


  <div id="content">
    <table>                                                                         
      <tr>                                                                            
        <td colspan="2">                                                              
          <%= render 'upload' %>                                                      
        </td>                                                                         
      </tr>                                                                           
    </table>

    <form action="create_news" method="post" id="main-form">
      <table style="width:100%;">
        <tr>
          <td>Title:&nbsp;<input type='text' name='title' size = '40'/></td>
        </tr>
        <tr>                   
          <td><textarea id="post" name="post" cols="100%" rows=10></textarea></td>
        </tr>
        <tr>
          <td><input type="submit" value="Post"  onclick="submitForm();" style="width:99%;" /></td>
        </tr>
      </table>
    </form>
  </div>

</body>









</html>
