 <form method = "post" action="edit_password" id="login">                            
<table id = "login-box-table">                                            
<!--tr>                                                                    
  <td>Current Password:</td><td><input type="password" name="current_password" /></td> 
</tr-->                                                                    
<tr>                                                                    
  <td>New Password:</td><td><input type="password" name="new_password" /></td> 
</tr>                                                                    
<tr>                                                                    
  <td>Confirm new Password:</td><td><input type="password" name="confirm_password" /></td> 
</tr>                                                            
<tr>                                                                    
  <td>&nbsp;</td>                                                       
  <td class ="submit_btns">                                             
    <button onclick="javascript:submitForm();" style="float:left;width:100%;">Change</button>
  </td>                                                                 
<tr>  
</table>
</form>
