<style>                                                                         
    .submit_btns a {                                                            
      color: white !important;                                                  
      text-decoration: none;                                                    
    }                                                                           
                                                                                
    #image-logo {                                                               
      margin-left: 60px;                                                        
    }                                                                           
  </style>                                                                      
                                                                                
  <script>                                                                      
    function submitForm() {                                                     
      document.forms["login"].submit();                                         
    }                                                                           
  </script> 

<div>
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">LOGIN</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>


<p>                                                                             
<div style="text-align:center;">                                                
                                                                                
<div id = "image-logo">                                                         
   <%= image_tag("keys.png" ,:id => "keys" ,:width => "100",:height => "100",:align => "left")%>
 </div>                                                                         
  <div id = "login-box">                                                        
    <form method = "post" action="login" id="login">                            
      <table id = "login-box-table">                                            
        <tr>                                                                    
          <td>Username:</td><td><input type="text" name="username" /></td>      
        <tr>                                                                    
        <tr>                                                                    
          <td>Password:</td><td><input type="password" name="password" /></td>  
        <tr>                                                                    
        <tr>                                                                    
          <td colspan="2">&nbsp;</td>                                           
        <tr>                                                                    
        <tr>                                                                    
          <td>&nbsp;</td>                                                       
          <td class ="submit_btns">                                             
            <button onclick="javascript:submitForm();" style="float:left;width:100%;">Login</button>
          </td>                                                                 
        <tr>                                                                    
      </table>                                                                  
    </form>                                                                     
  </div>                                                                        
</div>                                                                        

</p> 
