<html>
<head>
<title></title>


<script type="text/javascript">                                                 
                                                                                
function setImage(img) {                                                        
  document.getElementById('post').value+=img;
}                                                                               
                                                                                
                                                                                
function InsertCodeInTextArea(textValue) {                                      
  setImage(textValue);                                                          
}                                                                               
                                                                                
function submitForm() {                                                         
  document.getElementById('main-form').submit();                                
}                                                                               
                                                                                
function validatePost() {                                                       
 return false;                                                                  
}                                                                               
</script> 

</head>


<body>

<%if flash[:notice]%>                                                           
  <font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br /> 
<%end%>


  <div id="content">
    <table>                                                                         
      <tr>                                                                            
        <td colspan="2">                                                              
          <%= render 'upload' %>                                                      
        </td>                                                                         
      </tr>                                                                           
    </table>

    <form action="services_create" method="post" id="main-form">
        Title:&nbsp;<input type='text' name='title' size = '40'/><br />
        <textarea id="post" name="post" rows=15 cols="100%"></textarea>
      <br />
      <input type="submit" value="Post"  onclick="submitForm();" />
    </form>
  </div>

</body>









</html>
