<style>
  table { 
      color: #554433; 
  }
 
  #submitbtn {
  }

</style>                                                                        
                                                                                
<script type="text/javascript">

function setImage(img) {
  textarea = document.getElementById("text-area");
  textarea.value += img;
}

                                                                                
function InsertCodeInTextArea(textValue) {
  setImage(textValue);
}
</script>


<div id='news'>
<%if flash[:notice]%>                                                           
<font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br /> 
<%end%>
<table>
<tr>
  <td colspan="2">
    <%= render 'upload' %>
  </td>
</tr>
</table>
<form action='services_create' method="post">
<table>
<tr>
  <td>Title:</td><td>&nbsp;<input type='text' name='title' size = '40'/></td>
</tr>
</table>
<table>
<tr>
  <td>
    <textarea cols='70' rows='15' name='content' id="text-area"></textarea>
  </td>
</tr>
<tr>
  <td>
    <input type='submit' value = 'Submit' id = 'submitbtn' />
  </td>
</tr>
</table>
<input type='hidden' name = 'type' value = 'news' />
</form>
