<style>
  table { 
    color: #554433; 
    font-size: 12px;
    width: 100%;
  }
 
  #submitbtn {
  }

</style>

<div id='news'>
<form action='upload_new_pictures' method="post" enctype="multipart/form-data">
<table>
<tr>
  <td>Album name:</td><td>&nbsp;<input type='text' name='album' size = '40' /></td>
</tr>
<tr>
  <td>Album description:</td><td>&nbsp;<input type='text' name='album_description' size = '40' /></td>
</tr>
<!--tr>
  <td>Browse file:</td><td>&nbsp;<%#= file_field 'upload', 'datafile' %></td>
</tr-->
<tr>
  <td>Picture description:</td><td>&nbsp;<input type='text' name='picture_description' size = '40' /></td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
<tr>
  <td colspan="2">
    <input style="width:100%;" type='submit' value = 'Upload' id = 'submitbtn' />
  </td>
</tr>
</table>
<input type='hidden' name = 'type' value = 'pdf' />
</form>
