<style>
  table { 
      color: #554433; 
  }
 
  #submitbtn {
  }

</style>

<div id='news'>
<%if flash[:notice]%>
<font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br />
<%end%>

<form action='upload_pdf' method="post" enctype="multipart/form-data">
<table>
<tr>
  <td>Category:</td><td>&nbsp;
    <select name="category">
      <option>&nbsp;</option>
      <%(@categories || []).each do |cat|%>
        <option value="<%=cat.id%>"><%=cat.name%></option>
      <%end%>
    </select>
  </td>
</tr>
<tr>
  <td>Title:</td><td>&nbsp;<input type='text' name='title' size = '40' /></td>
</tr>
<tr>
  <td>Browse file:</td><td>&nbsp;<%= file_field 'upload', 'datafile' %></td>
</tr>
<tr>
  <td>
    <input type='submit' value = 'Upload' id = 'submitbtn' />
  </td>
</tr>
</table>
<input type='hidden' name = 'type' value = 'pdf' />
</form>
