
<div>
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">VIDEOS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>

<%(@videos || []).each do |video|%>                                             
  <div style="border-style:solid;border-width:0px 0px 1px 0px;">                
  <table>                                                                       
    <tr>                                                                        
      <td><iframe class="youtube-player" type="text/html" width="315" height="200" 
      src="http://www.youtube.com/embed/<%=video.link%>" frameborder="0"></iframe>
      </td>                                                                     
      <td style="font-size:12px; vertical-align: sub;">                         
        <%=video.title%><%unless video.description.blank?%>:&nbsp;              
        <br /><%=video.description%><%end%>
        <%unless User.current_user.blank? %>
          <br /><font>
            <a href="/user/delete_post?type=video&id=<%=video.id%>">Delete</a>
          </font>
        <%end%>
      </td>                                                                     
    </tr>                                                                       
  </table>                                                                      
</div>                                                                          
<%end%>
